*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.head{
    text-align: center;
    margin-top: 10px;
    text-transform: uppercase;
    border-radius: 10px;
    transition: 0.2s;
}

.unknow{
    
    transition-delay: 650ms;
}